<section class="page-title" *ngFor="let object of about">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h1>{{object.titlePage}}</h1>
            </div>
        </div>
    </div>
</section>

<section class="about-style-two section-padding" *ngFor="let object of about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-img">
                    <img [src]="object.image" alt="image">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-style-one-content">

                    <div class="sec-title centered">
                        <div class="separator">
                            <img alt="image" src="./assets/images/icons/folha.svg" width="20px" />
                        </div>
                        <h2>{{object.title}}</h2>
                    </div>
                    <p class="special">{{object.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-faq-section gray-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="accrodion-grp" data-grp-name="faq-accrodion">
                    <div class="accrodion active">
                        <div class="accrodion-title">
                            <h4>Como Trabalhamos</h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Transformamos os resíduos de carne, que coletamos e processamos, em farinha, que é usada na composição de rações animais. Em nossas coletas utilizamos veículos adaptados para este fim e atendemos aos padrões de higiene, evitando
                                qualquer tipo de contaminação com os produtos. Nosso processo industrial possui um moderno sistema de tratamento de odores que, através da lavagem dos gases, neutraliza a emissão de odores oriundos do processo.
                            </p>
                        </div>
                    </div>
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>Nossos Princípios</h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Temos um compromisso direto com o meio ambiente. Essa preocupação faz parte de nossa filosofia e influencia nosso modo de atuação, decisão e novos direcionamentos de mercado. Buscamos constantes investir em qualidade, tecnologia,
                                pesquisas, capacitação de colaboradores, logística e estratégia mercadológica com o objetivo de diminuir os impactos ambientais do processo industrial. O nosso compromisso é promover soluções inteligentes, que trazem benefício
                                ao meio ambiente, transformando a nossa realidade e garantido assim, o futuro das próximas gerações</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<app-service></app-service>