<section class="page-title" style="background-image:url(../../../assets/images/background/7.jpg)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h1>A Empresa</h1>
            </div>
        </div>
    </div>
</section>

<section class="about-style-two section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-img">
                    <img src="./assets/images/resource/welcome.jpg" alt="image">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-style-one-content">

                    <div class="sec-title centered">
                        <div class="separator">
                            <img alt="image" src="./assets/images/icons/folha.svg" width="20px" />
                        </div>
                        <h2>Soluções inteligentes que trazem benefícios ao meio ambiente e ao seu animalzinho.</h2>
                    </div>
                    <p class="special">Somos uma fabricante de rações que atua no segmento de graxaria, coletando e processando resíduos de carne desde 2020. Possuímos uma fábrica em Duque de Caxias, Rio de Janeiro, bem equipada com profissionais altamente qualificados
                        que permite que nossa produção seja de até 400 toneladas de rações por dia para bovinos, aves, suínos e cães.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-faq-section gray-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="accrodion-grp" data-grp-name="faq-accrodion">
                    <div class="accrodion active">
                        <div class="accrodion-title">
                            <h4>Como Trabalhamos</h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Transformamos os resíduos de carne, que coletamos e processamos, em farinha, que é usada na composição de rações animais. Em nossas coletas utilizamos veículos adaptados para este fim e atendemos aos padrões de higiene, evitando
                                qualquer tipo de contaminação com os produtos. Nosso processo industrial possui um moderno sistema de tratamento de odores que, através da lavagem dos gases, neutraliza a emissão de odores oriundos do processo.
                            </p>
                        </div>
                    </div>
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>Nossos Princípios</h4>
                        </div>
                        <div class="accrodion-content">
                            <p>Temos um compromisso direto com o meio ambiente. Essa preocupação faz parte de nossa filosofia e influencia nosso modo de atuação, decisão e novos direcionamentos de mercado. Buscamos constantes investir em qualidade, tecnologia,
                                pesquisas, capacitação de colaboradores, logística e estratégia mercadológica com o objetivo de diminuir os impactos ambientais do processo industrial. O nosso compromisso é promover soluções inteligentes, que trazem benefício
                                ao meio ambiente, transformando a nossa realidade e garantido assim, o futuro das próximas gerações</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<app-service></app-service>