<section class="welcome-section" *ngFor="let object of welcome">
    <div class="auto-container">

        <div class="sec-title centered">
            <div class="separator">
                <img alt="image" src="./assets/images/icons/folha.svg" width="20px" />
            </div>
            <h2>{{object.title}}</h2>
        </div>
        <div class="row clearfix">

            <div class="image-column col-md-6 col-sm-12 col-xs-12">
                <div class="image">
                    <img src="./assets/images/resource/bem-vindo.jpg" alt="" />
                </div>
            </div>

            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <div class="text" [innerHTML]="object.description"></div>
                    <ul class="list-style-one">
                        <li>{{object.name1}}</li>
                        <li>{{object.name2}}</li>
                        <li>{{object.name3}}</li>
                    </ul>
                    <a routerLink="/sobre" class="theme-btn btn-style-two">{{object.titleButton}}</a>
                </div>
            </div>
        </div>
    </div>
</section>