<!--Page Title-->
<section class="page-title" style="background-image:url(../../../assets/images/background/7.jpg)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h1>Fale Conosco</h1>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->

<!--Contact Section-->
<section class="contact-section">
    <div class="auto-container">
        <div class="sec-title">
            <h2>Deseja saber mais?</h2>
            <div class="title">Nos envie uma mensagem e em breve retornaremos.
            </div>
        </div>

        <div class="row clearfix">
            <!--Form Column-->
            <div class="form-column col-md-7 col-sm-12 col-xs-12">
                <!--Contact Form-->
                <div class="contact-form">
                    <form method="post">

                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Seu e-mail *" required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="subject" value="" placeholder="Assunto *" required>
                        </div>

                        <div class="form-group">
                            <textarea name="message" placeholder="Sua mensagem *" required></textarea>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="theme-btn btn-style-four">Enviar</button>
                        </div>
                    </form>
                </div>

            </div>

            <div class="info-column col-md-5 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <ul>
                        <li><span>Address:</span>Avenida Afonso Celso, Quadra 17, Lote 36/37
                            <br> Campos Elíseos, Duque de Caxias
                        </li>
                        <li><span>Phone: </span>0000 000 0000</li>
                        <li><span>Email: </span>contato@equilibriumracoes.com.br</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<!--End Contact Section-->

<app-map></app-map>