<section class="page-title" style="background-image:url(../../../assets/images/background/7.jpg)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h1 *ngFor="let object of contact">{{object.title}}</h1>
            </div>
        </div>
    </div>
</section>

<section class="contact-section" *ngFor="let object of contact">
    <div class="auto-container">
        <div class="sec-title">
            <h2>{{object.titleForm}}</h2>
            <div class="title">{{object.titleSubForm}}
            </div>
        </div>

        <div class="row clearfix">

            <div class="form-column col-md-7 col-sm-12 col-xs-12">

                <div class="contact-form">
                    <form [formGroup]="form" autocomplete="on" (ngSubmit)="send(form.value)">

                        <div class="form-group">
                            <input type="email" formControlName="email" name="email" [placeholder]="object.labelEmailForm">
                            <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">Preenchimento
                obrigatório.</small>
                            <small *ngIf="form.controls['email'].hasError('email') && form.controls['email'].touched">Informe um email
                válido.</small>
                        </div>

                        <div class="form-group">
                            <input type="text" formControlName="subject" name="subject" [placeholder]="object.labelSubjectForm">
                            <small *ngIf="form.controls['subject'].hasError('required') && form.controls['subject'].touched">Preenchimento
                obrigatório.</small>
                            <small *ngIf="form.controls['subject'].hasError('minlength') && form.controls['subject'].touched">Deve
                ter, no mínimo, 5 caracteres.</small>
                            <small *ngIf="form.controls['subject'].hasError('maxlength') && form.controls['subject'].touched">Deve
                ter, no máximo, 20 caracteres.</small>
                        </div>

                        <div class="form-group">
                            <textarea formControlName="message" name="message" [placeholder]="object.labelMessageForm"></textarea>
                            <small *ngIf="form.controls['message'].hasError('required') && form.controls['message'].touched">Preenchimento
                obrigatório.</small>
                            <small *ngIf="form.controls['message'].hasError('minlength') && form.controls['message'].touched">Deve
                ter, no
                mínimo, 10 caracteres.</small>
                            <small *ngIf="form.controls['message'].hasError('maxlength') && form.controls['message'].touched">Deve
                ter, no
                máximo, 255 caracteres.</small>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="theme-btn btn-style-four" [disabled]="!form.valid">{{object.labelButtonForm}}</button>
                        </div>
                    </form>
                </div>

            </div>

            <div class="info-column col-md-5 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <ul>
                        <li><span>{{object.labelAddress}}</span>{{object.textAddress}}
                        </li>
                        <li><span>{{object.labelPhone}} </span>{{object.textPhone}}</li>
                        <li><span>{{object.labelEmail}} </span>{{object.textEmail}}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<app-map></app-map>