<section class="services-section" style="background-image:url(../../../assets/images/resource/services-image-1.png)">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered" *ngFor="let object of service">
            <div class="separator">
                <img alt="image" src="./assets/images/icons/folha.svg" width="20px" />
            </div>
            <div class="title">{{object.title}}</div>
            <h2>{{object.subtitle}}</h2>
        </div>


        <div class="slide">

            <div class="row">
                <div class="services-block col-md-6 col-sm-6 col-xs-12" *ngFor="let object of grid">
                    <div class="inner-box">
                        <div class="content">
                            <div class="icon-box">
                                <img alt="image" [src]="object.icon" style="width: 50px;" />
                            </div>
                            <h3><a>{{object.title}}</a></h3>
                            <div class="text">{{object.description}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>