<section class="page-title" style="background-image:url(../../../assets/images/background/7.jpg)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h1 *ngFor="let object of contact">{{object.title}}</h1>
            </div>
        </div>
    </div>
</section>

<section class="contact-section" *ngFor="let object of contact">
    <div class="auto-container">
        <div class="sec-title">
            <h2>{{object.titleForm}}</h2>
            <div class="title">{{object.titleSubForm}}
            </div>
        </div>

        <div class="row clearfix">

            <div class="form-column col-md-7 col-sm-12 col-xs-12">

                <div class="contact-form">
                    <form method="post">

                        <div class="form-group">
                            <input type="email" name="email" value="" [placeholder]="object.labelEmailForm" required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="subject" value="" [placeholder]="object.labelSubjectForm" required>
                        </div>

                        <div class="form-group">
                            <textarea name="message" [placeholder]="object.labelMessageForm" required></textarea>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="theme-btn btn-style-four">{{object.labelButtonForm}}</button>
                        </div>
                    </form>
                </div>

            </div>

            <div class="info-column col-md-5 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <ul>
                        <li><span>{{object.labelAddress}}</span>{{object.textAddress}}
                        </li>
                        <li><span>{{object.labelPhone}} </span>{{object.textPhone}}</li>
                        <li><span>{{object.labelEmail}} </span>{{object.textEmail}}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<app-map></app-map>