<section class="fluid-section-one">
    <div class="outer-container clearfix">
        <!--Image Column-->
        <div class="image-column" style="background-image:url(../../../assets/images/resource/image-1.jpg);">
            <figure class="image-box">
                <img src="./assets/images/resource/image-1.jpg" alt="">
            </figure>
        </div>
        <!--Content Column-->
        <div class="content-column" style="background-image:url(../../../assets/images/resource/image-2.jpg)">
            <div class="inner-column">

                <div class="featured-block-two" *ngFor="let object of fluid">
                    <div class="featured-inner">
                        <div class="icon-box">
                            <span [class]="object.icon"></span>
                        </div>
                        <h3>{{object.title}}</h3>
                        <div class="text">{{object.description}}</div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>