<section class="team-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="separator">
                <span class="icon flaticon-pawprint-1"></span>
            </div>
            <div class="title">Because We Really Care About Your Pets</div>
            <h2>Our Team Members</h2>
        </div>
        <div class="row clearfix">
            <!--Team Block-->
            <div class="team-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="#">
                            <img src="./assets/images/resource/team-1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="lower-box">
                        <h3><a href="#">Thomas Nick</a></h3>
                        <div class="designation">founder</div>
                        <div class="social-box">
                            <ul class="social-icon-one">
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Team Block-->
            <div class="team-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="#"><img src="./assets/images/resource/team-2.jpg" alt="" /></a>
                    </div>
                    <div class="lower-box">
                        <h3><a href="#">James Harry</a></h3>
                        <div class="designation">pet lover</div>
                        <div class="social-box">
                            <ul class="social-icon-one">
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Team Block-->
            <div class="team-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="#"><img src="./assets/images/resource/team-3.jpg" alt="" /></a>
                    </div>
                    <div class="lower-box">
                        <h3><a href="#">Lucy Anderson</a></h3>
                        <div class="designation">donator</div>
                        <div class="social-box">
                            <ul class="social-icon-one">
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Team Block-->
            <div class="team-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="#"><img src="./assets/images/resource/team-4.jpg" alt="" /></a>
                    </div>
                    <div class="lower-box">
                        <h3><a href="#">Daniel Jacob</a></h3>
                        <div class="designation">pet Adopter</div>
                        <div class="social-box">
                            <ul class="social-icon-one">
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>